html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a {
	color: #005988;
	text-decoration: none;
}
a:hover {
	color: #CC2200;
	text-decoration: underline;
}

.clear {clear: both;}

ul.mainmenu {
	list-style: none;
	background: #3F9137;
	height: 60px;
	margin: 0;
	padding: 0;
	color: #fdf022;
	font-size: 12px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 50px;
}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #fdc022;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	colore: #FDB13D;
}

div.content {
	display: inline-block;
	min-width: 80px;
}


.form-contact label {
         display: inline-block; 
         min-width: 80px;
}
 
.form-contact p {margin: 10px 0 10px 0;}
.form-contact input[type=submit], textarea {
         font-size: 16px;
}
.flash {padding: 10px;}
.flash.success {
	border: 1px solid #21DB56;
	background: #AEFFC5;
}
.flash.error {
	border: 1px solid #FF4343;
	background: #FF9c9c;
}

ul.list-posts {
         list-style: none;
         margin: 0;
         padding 0;
         max-width: 600px;
}
ul.list-posts li {
         margin: 20px 0 0 0;
         border: 1px solid #eee;
}
ul.list-posts .title {
         margin: 0;
         padding: 5px;
         background: #eee;
}
ul.list-posts .annonce {
         margin: 0;
         padding: 10px 5px 10px 5px;
}