{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p>Данная python утилита разработана для демонстрации работы модуля Flask.
<p>Возможна регистрация пользователя в сессии и последующий вход в систему для просмотра файловой структуры и загрузки собственных файлов.
<p>Данная утилита не использует сторонних приложений и универсальна для использования в различных операционных системах.
<p><center><h1>by Shadrin Alexandr</h1></center>
{% endblock %}