<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
{% block title -%}
{% if title %}
         <title>FLASK DEMONSTRATION TOOL - {{title}}</title>
{% else %}
         <title>Flask Demonstration Tool</title>
{% endif %}
{% endblock %}
</head>
<body>
{% block content -%}
         {%- block mainmenu -%}
<ul class="mainmenu">
         {% for m in menu -%}
<li><a href="{{m.url}}">{{m.name}}</a></li>
         {% endfor -%}
</ul>
         {% endblock mainmenu -%}
<div class="clear"></div>
<div class="content">
         {% if title -%}
<h1>{{title}}</h1>
         {% else -%}
<h1>Flask Demonstration Tool</h1>
         {% endif -%}
{% endblock -%}


</div>


</body>
</html>