{% extends 'base.html' %}

{% block meta %}
  {{ super() }}
  <link rel="stylesheet"
    href="{{ url_for('static', filename='main.css') }}" />
{% endblock %}

{% block header %}
  <div style="width: 700px; margin: 50px auto;">
    <h2>Просмотр файлов</h2>
{% endblock %}

{% block footer %}
  </div>
{% endblock %}