<!DOCTYPE html>
<html>
<head>
         <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
</body>
</html>


{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
Основная страница сайта предназначена для демонстрации работы программы
{% endblock %}