{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<hr>
<h2>Список отзывов</h2>
<ul class="list-posts">
{% for p in posts %}
<li>
<p class="title"><a href="{{ url_for('showPost', id_post=p.id)}}">{{p.title}}</a></p>
<p class="annonce">{{ p.text[:50]}}</p>
</li>
{% endfor %}
</ul>
{% endblock %}