{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/submit" method="POST">
    <label for="username">Имя пользователя:</label><br>
    <input type="text" id="username" name="username"><br><br>
    <label for="email">E-mail:</label><br>
    <input type="text" id="email" name="email"><br><br>


    <label for="role">Выберите уровень доступа:</label>
    <select name="role" id="role">
        <option value="Пользователь">User</option>
        <option value="Продвинутый пользоватль">Advance user</option>
        <option value="Администратор">Admin</option>
        <option value="Суперадминистратор">Superadmin</option>
    </select>
    <br><br>

    <label>Согласны ли вы с условиями лицензионного соглашения? (Которого пока нет) </label><br><br>


        <input type="radio" id="yes" name="option" value="yes">
        <label for="yes">Yes</label>
        <input type="radio" id="no" name="option" value="no">
        <label for="no">No</label><br>

    <br><br>
        <button><a>Send</a></button><br>
</form>
{% endblock %}