{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/register" method="post" class="form-contact">
<p><label>Введите имя: </label> <input type="text" name="username" value="" requied />
<p><label>Введите пароль: </label> <input type="password" name="psw" value="" requied />
<p><input type="submit" value="Зарегистрироваться" />
</form>
{% endblock %}